
    @font-face {
        font-family: "bau";
        src: url("bau-super.woff") format("woff");
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: "bau";
        src: url("bau-medium.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }
    html {
        height: 100%;
        width: 100%;
    }
    body {
        padding: 0;
        margin: 0;
        font-size: 0;
        font-family: bau;
        font-weight: bold;
        height: 100%;
        box-sizing: border-box;
        padding: 20px;
        background: black;
    }
    .button {
        background: white;
        cursor : pointer;
        transition: background 0.1s;
    }
    .button:hover {
        background: Aquamarine;
        transition: background 0.2s;
    }
    .button:active {
        background: black;
        transition: background 0.1s;
    }
    .button:before {
        content: "";
        margin-left: -100%;
    }
    .button:after {
        content: "";
        margin-right: -100%;
    }