#status {
    font-size: 30px;
    text-align: center;
    color: #FFBB00;
    margin: auto;
    vertical-align: middle;
}

#collection {
    font-size: 20px;
    text-align: center;
    color: #FFBB00;
    margin: auto;
    vertical-align: middle;
}

#thematique {
    font-size: 20px;
    text-align: center;
    color: #FFBB00;
    margin: auto;
    vertical-align: middle;
}

#annee {
    font-size: 20px;
    text-align: center;
    color: #FFBB00;
    margin: auto;
    vertical-align: middle;
}

#map {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}

.user {
    width: 40px;
    height: 40px;
    background: #ccc;
    position: absolute;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #F3EFE0;
    left: 0;
    top: 0;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: 100;
    transition: background 400ms;
    cursor: pointer;
}

.active {
    background: #FFBB00;
}

.sound {
    width: 130px;
    height: 130px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    background: url(sound.svg);
    background-position: center;
    transition: opacity 400ms;
    cursor: pointer;
}

.sound:hover {
    opacity: 0.5;
    transition: opacity 400ms;
}

.angle {
    width: 8px;
    height: 8px;
    background: #ccc;
    position: absolute;
    color: #F3EFE0;
    left: 0;
    top: 0;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: 100;
    transition: background 400ms;
    cursor: pointer;
}

.circle {
    border-radius: 50%;
}

.theme {
    width: 10px;
    height: 10px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #F3EFE0;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

body {
    background: black;
    transition: background 1000ms;
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999
}

#light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1000ms linear;
}

.wait {
    background-color: black;
    animation-name: wait;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.thema {
    background-color: yellow;
    transition: background-color 500ms;
}

.thema:hover {
    background-color: red;
    transition: background-color 100ms;
}

@keyframes wait {
    from {
        background-color: white;
    }
    to {
        background-color: darkgrey;
    }
}

.introduction {
    animation-name: introduction;
    animation-duration: 36s;
    animation-iteration-count: infinite;
}

@keyframes introduction {
    0% {
        background: white;
    }
    5% {
        background: black;
    }
    90% {
        background: blue;
    }
    95% {
        background: darkblue;
    }
    97% {
        background: white;
    }
    99% {
        background: darkblue;
    }
    100% {
        background: white;
    }
}

.exploration {
    animation-name: blue;
        animation-duration: 500ms;
 animation-fill-mode: forwards;
}

.recording {
    animation-name: recording;
    animation-duration: 500ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    transition: background-color 1000ms;
}

@keyframes blue {
    to { background-color: blue; }
}


@keyframes recording {
    from {
        background-color: black;
    }
    to {
        background-color: deeppink;
    }
}